* {
    margin: 5px;
    padding: 5px;
}

header,
div,
nav {
    border-color: blueviolet;
    font-family: Arial;
    margin-right: 1px;
    padding-right: 1px;
    font-size: 25px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 2px;
    padding: 2px;
}

p {
    font-size: 25px;
}

div {
    margin: 0px;
    padding: 0px;
}

.facebook {
    color: tomato;
    font-size: 30px;
}

.instagram {
    color: red;
    font-size: 30px;
}

.linkedin {
    color: rgb(33, 105, 114);
    font-size: 30px;
}

section {
    display: flex;
}

.red_social {
    width: 300px;
}

.copy {
    text-align: center;
}

.contact {
    background-color: aliceblue;
    align-content: center;
}

.ava {}


.ave {
 background-color: antiquewhite;
}

.avu{
  display: flex;
  justify-content: space-between;
  margin: 3px;
  padding: 2px;
}
 
 .form-reg {
     padding: 14px 2rem;
     display: flex;
     flex-direction: column;
     align-items: right;
     background-color: white;
     margin-right: 100px;
     padding-right: 10px;
     padding-top: 25px;

 }
 
.avs{
       display: flex;
       justify-content: space-between;
       margin: 3px;
       padding: 2px;
       background-color: powderblue;
}

.avb{
    width: 100px;
    padding-left: 10px;
    align-items: left;

}
.text-center{
    text-align: center;
}

.cnt{

    background-color: cornflowerblue;
}
body{

    background-color: beige;
}